html {
  scroll-behavior: smooth;
}

body {
  color: #f5f5f5;
  margin: 0;
  min-height: 100vh;
  background: radial-gradient(circle at 20% 20%, rgba(147,51,234,0.3), transparent 40%),
              radial-gradient(circle at 80% 30%, rgba(0,180,255,0.25), transparent 50%),
              radial-gradient(circle at 60% 80%, rgba(147,51,234,0.2), transparent 40%),
              #000000;
  background-attachment: fixed;
  overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

section {
  padding: 10px 30px;
  min-height: 10vh; 
}

.about {
  min-height: 75vh;
  padding-top: 10vh;
}

.contact {
  padding-top: 20vh;
}


nav {
  width: 100%;
  text-align: center;  
  padding: 20px;
  position: static;     
  background: none;   
}

nav a {
  margin: 0 25px;  
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: #f5f5f5;
}

nav a:hover {
  background: linear-gradient(90deg, #60a5fa, #3b82f6, #9333ea, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 10px rgba(147, 51, 234, 0.7), 
               0 0 15px rgba(59, 130, 246, 0.6);
}

header {
    text-align: center;
    margin: 2em 0;
}

header img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

article {
    text-align: center;
    margin: 2em auto;
    max-width: 600px;
}

.skill-container {
    max-width: 600px;
    margin: 3em auto;
}

header h1 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin: 20px 0;

  background: linear-gradient(90deg, 
    #1e90ff, #6a0dad, #000000);
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  animation: gradient-move 3s ease infinite;
}

@keyframes gradient-move {
  to { background-position: 200% center; }
}

.contact h1 {
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  margin: 20px 0;

  background: linear-gradient(90deg, 
    #1e90ff, #6a0dad, #000000);
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  animation: gradient-move 6s ease infinite;
}

@keyframes gradient-move {
  to { background-position: 200% center; }
}

form {
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
}

label {
  font-weight: 600;
  color: #ddd;
}

input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #444;
  border-radius: 6px;
  background: #1a1a1a;
  color: #fff;
}

input[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background: linear-gradient(90deg, #1e90ff, #6a0dad, #8a2be2);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

.pendidikan2 {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.pendidikan2 h3{
  font-family: helvetica;
}

.sd {
  position: relative;
  background: rgba(0,0,0,0.8);
  border-radius: 10px;
  padding: 15px;
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
  color: white;
  z-index: 1;
  transition: all 0.4s ease;
}

.sd:hover {
  transform: scale(1.05); 
  box-shadow: 0 0 25px rgba(147, 51, 234, 0.7),
              0 0 40px rgba(14, 165, 233, 0.7);
  border-image: linear-gradient(45deg, #a855f7, #38bdf8) 1; 
}

.sd::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  padding: 2px; 
  background: linear-gradient(45deg, #9333ea, #0ea5e9);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index: -1;
}

.smp {
  position: relative;
  background: rgba(0,0,0,0.8);
  border-radius: 10px;
  padding: 15px;
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
  color: white;
  z-index: 1;
  transition: all 0.4s ease;
}

.smp:hover {
  transform: scale(1.05); 
  box-shadow: 0 0 25px rgba(147, 51, 234, 0.7),
              0 0 40px rgba(14, 165, 233, 0.7);
  border-image: linear-gradient(45deg, #a855f7, #38bdf8) 1; 
}

.smp::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  padding: 2px; 
  background: linear-gradient(45deg, #9333ea, #0ea5e9);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index: -1;
}
.smk {
  position: relative;
  background: rgba(0,0,0,0.8);
  border-radius: 10px;
  padding: 15px;
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
  color: white;
  z-index: 1;
  transition: all 0.4s ease;
}

.smk:hover {
  transform: scale(1.05); 
  box-shadow: 0 0 25px rgba(147, 51, 234, 0.7),
              0 0 40px rgba(14, 165, 233, 0.7);
  border-image: linear-gradient(45deg, #a855f7, #38bdf8) 1; 
}

.smk::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  padding: 2px; 
  background: linear-gradient(45deg, #9333ea, #0ea5e9);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index: -1;
}

.sd img {
  width: 200px;      
  height: 100px 100px;    
  object-fit: cover; 
  border-radius: 8px;
  margin-bottom: 10px;
}

.smp img {
  width: 200px;      
  height: 100px 100px;    
  object-fit: cover; 
  border-radius: 8px;
  margin-bottom: 10px;
}

.smk img {
  width: 200px;      
  height: 100px 100px;    
  object-fit: cover; 
  border-radius: 8px;
  margin-bottom: 10px;
}

.html {
  position: relative;
  background: rgba(0,0,0,0.8);
  border-radius: 10px;
  padding: 15px;
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
  color: white;
  z-index: 1;
  transition: all 0.4s ease;
}

.html:hover {
  transform: scale(1.05); 
  box-shadow: 0 0 25px rgba(147, 51, 234, 0.7),
              0 0 40px rgba(14, 165, 233, 0.7);
  border-image: linear-gradient(45deg, #a855f7, #38bdf8) 1; 
}

.html::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  padding: 2px; 
  background: linear-gradient(45deg, #9333ea, #0ea5e9);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index: -1;
}

.html img{
  width: 135px;      
  height: 100px 100px;    
  object-fit: cover; 
  border-radius: 8px;
  margin-bottom: 10px;
}

.css {
  position: relative;
  background: rgba(0,0,0,0.8);
  border-radius: 10px;
  padding: 15px;
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
  color: white;
  z-index: 1;
  transition: all 0.4s ease;
}

.css:hover {
  transform: scale(1.05); 
  box-shadow: 0 0 25px rgba(147, 51, 234, 0.7),
              0 0 40px rgba(14, 165, 233, 0.7);
  border-image: linear-gradient(45deg, #a855f7, #38bdf8) 1; 
}

.css::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  padding: 2px; 
  background: linear-gradient(45deg, #9333ea, #0ea5e9);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index: -1;
}

.css img{
  width: 135px;      
  height: 100px 100px;    
  object-fit: cover; 
  border-radius: 8px;
  margin-bottom: 10px;
}

.js {
  position: relative;
  background: rgba(0,0,0,0.8);
  border-radius: 10px;
  padding: 15px;
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
  color: white;
  z-index: 1;
  transition: all 0.4s ease;
}

.js:hover {
  transform: scale(1.05); 
  box-shadow: 0 0 25px rgba(147, 51, 234, 0.7),
              0 0 40px rgba(14, 165, 233, 0.7);
  border-image: linear-gradient(45deg, #a855f7, #38bdf8) 1; 
}

.js::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  padding: 2px; 
  background: linear-gradient(45deg, #9333ea, #0ea5e9);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index: -1;
}

.js img{
  width: 135px;      
  height: 100px 100px;    
  object-fit: cover; 
  border-radius: 8px;
  margin-bottom: 10px;
}

.py {
  position: relative;
  background: rgba(0,0,0,0.8);
  border-radius: 10px;
  padding: 15px;
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
  color: white;
  z-index: 1;
  transition: all 0.4s ease;
}

.py:hover {
  transform: scale(1.05); 
  box-shadow: 0 0 25px rgba(147, 51, 234, 0.7),
              0 0 40px rgba(14, 165, 233, 0.7);
  border-image: linear-gradient(45deg, #a855f7, #38bdf8) 1; 
}

.py::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  padding: 2px; 
  background: linear-gradient(45deg, #9333ea, #0ea5e9);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index: -1;
}

.py img{
  width: 135px;      
  height: 100px 100px;    
  object-fit: cover; 
  border-radius: 8px;
  margin-bottom: 10px;
}


.keahlian {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.keahlian h3{
  font-family: helvetica;
}

.cv {
  text-align: center;
  margin: 40px 0;
}

.cv a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: linear-gradient(90deg, #1e90ff, #6a0dad, #8a2be2);
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  transition: background 0.3s ease;
}

.sosmed {
  display: flex;
  justify-content: center; 
  gap: 15px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7); 
  border-top: 2px solid #444; 
}  

.sosmed img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: transform 0.3s;
}

.sosmed img:hover {
  transform: scale(1.2);
}

hr {
  border: none;
  border-top: 1px solid #444;
}

.p1 {
  position: relative;
  background: rgba(0,0,0,0.8);
  border-radius: 10px;
  padding: 15px;
  max-width: 400px;       
  display: inline-block;  
  margin: 2em auto;
  text-align: center;
  color: white;
  z-index: 1;
  transition: all 0.4s ease;
}

.p1:hover {
  transform: scale(1.05); 
  box-shadow: 0 0 25px rgba(147, 51, 234, 0.7),
              0 0 40px rgba(14, 165, 233, 0.7);
  border-image: linear-gradient(45deg, #a855f7, #38bdf8) 1; 
}

.p1::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  padding: 2px; 
  background: linear-gradient(45deg, #9333ea, #0ea5e9);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index: -1;
}

.p1 img {
  width: 100%;     
  height: auto;
  display: block;
  margin: 0 auto 10px;
}